@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href=" @Url.Content("../../Content/Vote.css")" rel="stylesheet" type="text/css" />
<link href=" @Url.Content("../../Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
<link href=" @Url.Content("../../Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("../../Scripts/Modal.js")"  ></script>
<div id="vote-info" class="alert alert-info">
    <strong>headsup!</strong> your content has been saved!
</div>

<div class="container-fluid">
    <div class="span2">
        <ul class="nav nav-list">
            <li class="nav-header">List header</li>
            <li class="active"><a href="#">Home</a></li>
            <li>@Html.ActionLink("Logo Vote", "Vote", "Vote")</li>

        </ul>
    </div>

    <div class="container-narrow">
        <div class="masthead">
            <div class="jumbotron">
                <h1>I wnat more supermarket !</h1>
                <p class="lead">there are too little supermaket beside here, we must ask them setup more!</p>
                <a id="agree" href="#myModal" data-target="#myModal" role="btn btn-primary" class="btn btn-primary" data-toggle="modal">Agree!</a>
                <a id="disagree" class="btn btn-large btn-success" href="#myModal" data-target="#myModal" data-toggle="modal">Disagree!</a>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Said:</h3>
    </div>
    <div class="modal-body">
        <textarea id="vote-comments" rows="6" cols=""></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="save-change" class="btn btn-primary">Save</button>
    </div>
</div>

<div class="footer">
    <script type="text/javascript" language="javascript">

        (function (H) {
            Highcharts.Chart.prototype.callbacks.push(function (chart) {
                H.addEvent(chart.container, 'click', function (e) {
                    e = chart.pointer.normalize();
                    console.log('Clicked chart at ' + e.chartX + ', ' + e.chartY);
                });
                H.addEvent(chart.xAxis[0], 'afterSetExtremes', function (e) {
                    console.log('Set extremes to ' + e.min + ', ' + e.max);
                });
            });
        }(Highcharts));

        var chart = new Highcharts.Chart({

            chart: {
                renderTo: 'container',
                zoomType: 'x'
            },

            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },

            series: [{
                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }]

        });

    </script>
</div>


