@{
    ViewBag.Message = "Register";
    ViewBag.Login = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/modern-business.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/sb-admin.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/Sco/sco.message.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/HeadRoom.js")"></script>

<link href="@Url.Content("~/Content/scojs.css")" rel="stylesheet" />
<link href="@Url.Content("../../Content/login-reg.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/scojs.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/sco.message.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.pin.js")"></script>
<link href="@Url.Content("~/Content/bootstrapValidator.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    @*<meta name="viewport" content="width=device-width" />*@
    </head>
    <body>

@*-------------------new Navigation panel-------------------------------*@

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
          
            @Html.ActionLink("Modern Business","index","Home" ,new {@class="navbar-brand"})
            @*<a class="navbar-brand" href="index.html"></a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("About", "AboutMe","Home")</li>
            <li>@Html.ActionLink("Services","Services","Home")</li>
            <li>@Html.ActionLink("Contact","Contact","Home")</li>
            <li class="dropdown">
                  
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-1-col.html">1 Column Portfolio</a></li>
                <li><a href="portfolio-2-col.html">2 Column Portfolio</a></li>
                <li><a href="portfolio-3-col.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-4-col.html">4 Column Portfolio</a></li>
                <li><a href="portfolio-item.html">Single Portfolio Item</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("Blog","Index","Blog")</li>
                <li>@Html.ActionLink("BlogHome","BlogHome","Blog")</li>
                
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="full-width.html">Full Width Page</a></li>
                <li><a href="sidebar.html">Sidebar Page</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
              </ul>
            </li>
             <li>@Html.ActionLink("DishesChoice ","DishesChoice", "LunchAppController")</li>
              
              

              @if (Request.IsAuthenticated)
              {
                  <li class="span3">
                      <div class="btn-group" style="margin-top:8px;padding-left:90px">
                          <button type="button" class="btn btn-success">@Membership.GetUser().UserName</button>
                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              <li>@Html.ActionLink("Admin", "Index", "Admin", new { @userId = Membership.GetUser().ProviderUserKey }, new { })
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li>@Html.ActionLink("Sign Off","LogOff","Account")</li>
                          </ul>
                      </div>
                     @* <a href="Home/AboutMe" role="button" class="btn" data-toggle="modal">[@Membership.GetUser().UserName]</a>*@
                      </li>
                 }
              else
              {
                   <li class="span3">
                      @* @Html.ActionLink("Login","Login","Account",new {},new {@data_toggle="modal",@role="button",@class="btn",@data_target="#myModal"})*@
                      <a href="#myModal" id="Login" role="button" class="btn" data-toggle="modal" >Login</a>
                   </li> 
              }
              <!-- Modal -->              

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

        @if (!Request.IsAuthenticated)
        {
            Url.Action("RedirectURL", "Account");
            { Html.RenderPartial("Login", new LeduInfo.Models.LoginModel()); }
            
        }
        else
        {
            
        }
      
        <!-- /.modal -->

      @*  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">¡Á</button>
                <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body">
                <p>One fine body¡­</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">¹Ø±Õ</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>*@
@*============================================================================================================================*@

      @*  <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    @Html.ActionLink("MVC Test", "Index", "Home", new { @class = "brand" })
    <ul class="nav">
      
        <li>@Html.ActionLink("R&D","RnD","Home")</li>
        <li>@Html.ActionLink("R&D Solution","index","Home")</li>
        <li>@Html.ActionLink("R&D AM","index","Home")</li>
        <li>@Html.ActionLink("Community","CommunityDesigner","Home")</li>
        <li>@Html.ActionLink("Vote", "Vote", "Home")</li>
        <li>@Html.ActionLink("HouseResource", "index", "House")</li>
        <li>@Html.ActionLink("Charts","Website/index.htm","Charts")</li>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "navbar-form pull-left" }))
        {
            <div class="icon-search"></div>
            <input type="text" class="span5" placeholder="Search"/>
            
            <button type="submit" class="btn btn-primary">
                Search your info</button>
        }
        
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink(Membership.GetUser().ToString(),"Profilo","Account")</li>
            <li>@Html.ActionLink("LogOff","LogOff","Account")</li>
        }
        else{
            <li>@Html.ActionLink("Login", "Login","Account")</li>
            <li>@Html.ActionLink("Register","Register","Account")</li>
        }*@

       @* <li>@Html.ActionLink((string)ViewBag.Login,"Login", "Account")</li>
        @if (ViewBag.Message!="Register")
        {
        <li>@Html.ActionLink((string)ViewBag.Message, "UserInfo", "Account")</li>
            
        }
        else
        {
        <li>@Html.ActionLink("Register", "Register", "Account")</li>

        }*@
@*    </ul>
  </div>
    </div>
            <div class="content-wrapper">
                <div class="float-left">
                </div>
                 

            </div>*@

@*        <script>
            $(document).ready(function () {
                $("#Login").click(function () {
                    $('#myModal').modal('show')

       

                             AccountController AC = new AccountController();

                });
            });

        </script>*@

        
        <script>
            $(document).ready(function () {
                $('#loginform').bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        inputUser: {
                            message: 'The username is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The username is required and cannot be empty'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'The username must be more than 6 and less than 30 characters long'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_]+$/,
                                    message: 'The username can only consist of alphabetical, number and underscore'
                                }
                            }
                        },
                        inputPassword: {
                            validators: {
                                notEmpty: {
                                    message: 'The email is required and cannot be empty'
                                },
                                emailAddress: {
                                    message: 'The input is not a valid email address'
                                }
                            }
                        }
                    }
                });
            })
        </script>
        <div id="body">
            @RenderSection("script",required:false)
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
      
    </body>
</html>