@model LeduInfo.Models.HouseInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HouseInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ownerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ownerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.renterID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.renterID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rented)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rented)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.houseStyleID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.houseStyleID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.houseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
